<!DOCTYPE html>
<html>
  <head>
    <title>Nomflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.netflix_background_8_URL = "<%= image_url('netflix-background-8.jpg') %>"
      window.netflix_background_9_URL = "<%= image_url('netflix-background-9.jpg') %>"
      window.nomflix_logo_URL = "<%= image_url('Nomflix-logo.png') %>"
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
  
</html>
